.scroll-to-top-btn {
    background-color: rgba(255, 192, 0) !important;
    border:none !important;
    border-radius: 50%;
    height: 50px;
    right: -100px !important;
    position: fixed;
    bottom: 20px;
    width: 50px;
    transition: opacity 0.5s ease-in-out 0s, right;
    cursor: pointer;
    opacity: 1;
    right: 20px;
}

.scroll-to-top-btn-transition {
    right: 20px !important;
}

.scroll-to-top-btn > svg {
    padding-right: 10px;
    color: white
}

.main-content {
    min-height: 500px;
    width: 100%;
    margin-top: 5.1rem;
    position: relative;
    top: 25%;
}

.custom-card .card-title {
    font-size: 32px;
    line-height:1.5;
    letter-spacing: 0.25rem;
    font-weight: bold;
    color: black !important;
    margin-left: 2rem;
    text-decoration:underline;
}

.custom-card .card-text {
    font-size: 17px;
    line-height:1.7;
    letter-spacing: 0;
    margin-left: 2rem;
    padding-left: 3rem;
}

.custom-card {
    border: none;
}

.product-title {
    font-size: 47px;
    line-height:1.5;
    letter-spacing: 0.25rem;
    font-weight: bold;
    color: #ffb100 !important;
    margin-left: 6rem;
}

.custom-card .card-img-top {
    height: 25rem;
}